{% load static %}
<doctype html>
<html lang="en">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 

        <!--required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <style>
            body{
            background-image:url('/static/images/webBackground.jpg');
            background-attachment:fixed;
            background-repeat: no-repeat;
            background-size: cover;
            }   
        </style>

        <title>stock web app</title>

    </head>
    <body>
        
    </body>
</html>