{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 

    <title>trends page</title>
    <meta charset="utf-8">

    <style>
        body{
        background-image:url('/static/images/webBackground.jpg');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
        }   
    </style>

</head>
<body>

    <h1 style="color: white;  text-align: center;  font-size: 75px; margin-top: 100px; ">
        {{ticker}} - google trends
    </h1>

    <img src={{trendsPng}} id="center" alt="semel" width="475" height="350">

    <h1 style="color: white;  text-align: center;  font-size: 30px; margin-top: 30px; border-radius: 500px; ">
        {{talkedAbout}}
    </h1>

    <div id="bottomleft">project by guy houri</div>
</body>
</html>