{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 

    <title>stock page</title>
    <meta charset="utf-8">

    <style>
        body{
        background-image:url('/static/images/webBackground.jpg');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
        }   
    </style>

    <h1 style="color: white;  text-align: center;  font-size: 75px; margin-top: 50px; ">
        error page
    </h1>

    <h1 style="color: white;  text-align: center;  font-size: 75px; margin-top: 50px; ">
        we are sorry. it seems like you mispelled the stock name. please type again:
    </h1>

</head>
<body>